body
{font-family:"Helvetical","Arial",serif;
color:#333;
backgroung-color:#ccc;
margin: 1em 10%;
}
h1
{
color:#333;
backgroung-color:transparent;
}
a{
color:#c60;
backgroung-color:transparent;
font-weight:bold;
text-decoration:none;
}
ul
{
padding:0;
}
li
{
float:left;
padding:1em;
list-style:none;
}
img
{
display:block;
clear:both;
}